.env
node_modules
package-lock.json


backend/backup26june/
backend/backupsep26/
backend/backup-9-oct/
backend/backup*/



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.ebignore
.platform
.elasticbeanstalk
