.brandlogo{
    width: 10rem;
    height: 3rem;
}


/* .bgaquagradient {
  background: linear-gradient(135deg, #ffe2e6, #f7d9ff);
  color: #4c004c;
} */





/* .loginPhoto{
    width: 100%;
    height: 100%;
} */