.sidebarHeader {
    height: 10vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    height: 45px;
    width: auto;
}

.toggleSidebarButton {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #374151;
}

.navItemsContainer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navLinks {
    text-decoration: none;
    color: #111827;
    transition: all 0.2s ease;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
}

.navLinks:hover {
    background-color: #f1f5f9;
    color: #111827;
}

.navLinks.active {
    background-color: #2be3b8;
    /* the green highlight */
    color: #ffffff;
    font-weight: 600;
   
}

.navLinks .navLinksIcons {
    display: flex;
    align-items: center;
}

.navLinks .navLinksIcons svg {
    font-size: 1.25rem;
}

.navLinks.active .navLinksIcons svg {
    color: #ffffff;
}



