.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* font-family: 'Inter', sans-serif; */
  
}

.sidebarHeader {
  height: 10vh;
  padding: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  /* background-color: aqua; */
  border-bottom: 1px solid #dee2e6;
}


.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 40px;
  width: auto;
}

.navItemsContainer {
  height: 80vh;
}

.footerContainer {
  height: 10vh;
}

.navLinks {
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s ease;
  border-radius: 10px;
}

.navLinks:hover {
  background-color: #f1f5f9;
  font-weight: 500;
}

.navLinks.active {
  background-color: #f1f5f9;
  font-weight: 500;
}

.navLinks .navLinksIcons {
  display: flex;
  align-items: center;
}

.navLinks .navLinksIcons svg {
  font-size: 1.2rem; 
}

